{if isset($smarty.get.tab)}
    {$tab=$smarty.get.tab}
{else}
    {$tab="table-0"}
{/if}
<style>
    input[type=number]
    {
        min-width:100px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="general-block-decorator" id="metabase-module">
            <div class="row">
                <div class="col-md-12">
                    {if $errorMessage}
                        <div class="alert alert-danger">{$errorMessage}</div>
                    {/if}
                    <ul id="tabbed-menu" class="nav nav-tabs">
                        {foreach $dashboards as $dashboard}
                            {if $dashboard@key == 3}
                                {break}
                            {/if}
                        <li class="{if $tab eq "table-{$dashboard@key}"}active{/if}"><a data-toggle="tab" href="#table-{$dashboard@key}">{intl l="{$dashboardsName[$dashboard@key]}"}</a></li>
                        {/foreach}
                    </ul>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="othersStatistic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {$othersStatistics} <i class="fas fa-chevron-down menu-collapse"></i>
                        </button>

                        <ul id="tabbed-menu" class="dropdown-menu" aria-labelledby="othersStatistic">
                            {foreach $dashboards as $dashboard}
                                <li class="dropdown-item {if $tab eq "table-{$dashboard@key}"}active{/if}"><a data-toggle="tab" href="#table-{$dashboard@key}">{intl l="{$dashboardsName[$dashboard@key]}"}</a></li>
                            {/foreach}
                        </ul>
                    </div>

                    <div class="tab-content">
                        {foreach $dashboards as $dashboard}
                            <div id="table-{$dashboard@key}" class="tab-pane {if $tab eq "table-{$dashboard@key}"}active{/if} form-container">
                                <template id="table-{$dashboard@key}-template" >{$dashboard nofilter}</template>
                            </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>