{if isset($smarty.get.tab)}
    {$tab=$smarty.get.tab}
{else}
    {$tab="table-0"}
{/if}
<div class="row">
    <div class="col-md-12" id="metabase-module">
        <ul id="tabbed-menu" class="nav nav-tabs">
            {foreach $dashboardsName as $key => $dashboardName}
                <li class="{if $tab eq "table-{$key}"}active{/if}"><a data-toggle="tab" href="#table-{$key}">{$dashboardName}</a></li>
            {/foreach}
        </ul>
        <div class="general-block-decorator">
            <div class="row">
                <div class="col-md-12">
                    {if $errorMessage}
                        <div class="alert alert-danger">{$errorMessage}</div>
                    {/if}

                    <div class="text-center clearfix">
                        <div class="btn-group" style="display: none; padding-bottom: 20px">
                            <a id="btn_revenue" data-toggle="tab" class="btn btn-primary" href="#">
                                <span class="glyphicon glyphicon-euro"></span>
                                {intl l="Revenue" d='metabase.bo.default'}
                            </a>
                            <a id="btn_count" data-toggle="tab" class="btn btn-success" href="#">
                                <span class="glyphicon glyphicon-credit-card"></span>
                                {intl l="Count" d='metabase.bo.default'}
                            </a>
                        </div>
                        <div class="tab-content">
                            {foreach $dashboards as $key => $dashboard}
                                <div id="table-{$key}" class="tab-pane {if $tab eq "table-{$key}"}active{/if} form-container">
                                    <template id="{$tab}-template" >{$dashboard nofilter}</template>
                                </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>