<script>

(function() {
    let $module = $('#metabase-module');

    function displayTemplate (href) {
        let $tab = $module.find(href);
        let template = $tab.find('template').html();
        $tab.html(template);
    }
    $module.find('#tabbed-menu li a').on('shown.bs.tab', function (e) {
        displayTemplate(e.target.attributes.href.value);
    });

    displayTemplate($module.find('#tabbed-menu li:first a')[0].attributes.href.value);
})()

document.addEventListener('DOMContentLoaded', (event) => {
    const listItems = document.querySelectorAll('#tabbed-menu li');

    listItems.forEach(item => {
        item.addEventListener('click', () => {
            listItems.forEach(li => li.classList.remove('active'));
        });
    });
});

</script>
