{if isset($smarty.get.tab)}
    {$tab=$smarty.get.tab}
{else}
    {$tab='config'}
{/if}
<style>
    input[type=number]
    {
        min-width:100px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="general-block-decorator">
            <div class="row">
                <div class="col-md-12">
                    <ul id="tabbed-menu" class="nav nav-tabs">
                        <li class="{if $tab eq "config"}active{/if}"><a data-toggle="tab" href="#config">{intl l="Configuration" d='metabase.bo.default'}</a> </li>
                        <li class="{if $tab eq "import"}active{/if}"><a data-toggle="tab" href="#import">{intl l="Import Metabase" d='metabase.bo.default'}</a> </li>
                        <li class="{if $tab eq "generate"}active{/if}"><a data-toggle="tab" href="#generate">{intl l="Generate Metabase" d='metabase.bo.default'}</a> </li>
                        <li class="{if $tab eq "syncing"}active{/if}"><a data-toggle="tab" href="#syncing">{intl l="Syncing Metabase" d='metabase.bo.default'}</a> </li>
                    </ul>

                    <div class="tab-content">

                        <div id="config" class="tab-pane {if $tab eq "config"}active{/if} form-container">
                            <br>

                            <div class="title">
                                {intl l="Metabase service configuration" d='metabase'}
                            </div>
                            {form name="configure_metabase_form"}
                            {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
                                <form action="{url path="/admin/module/metabase/configure"}" method="post">
                                    {form_hidden_fields form=$form}

                                    {include file = "includes/inner-form-toolbar.html"
                                    hide_flags = true
                                    page_url   = "{url path='/admin/module/metabase'}"
                                    close_url  = "{url path='/admin/modules'}"
                                    }

                                    {if $form_error}
                                        <div class="alert alert-danger">{$form_error_message}</div>
                                    {/if}

                                    {if $smarty.get.success|default:null}
                                        <div class="alert alert-success">{intl l={Metabase\Metabase::SUCCESS_MESSAGE} d='metabase'}</div>
                                    {/if}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">{intl d='metabase' l="Service configuration"}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-md-6">
                                                    {render_form_field form=$form field="metabase_url"}
                                                    {render_form_field form=$form field="metabase_token"}
                                                    {render_form_field form=$form field="metabase_username"}
                                                    {render_form_field form=$form field="metabase_password"}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {/form}
                        </div>
                        <div id="import" class="tab-pane {if $tab eq "import"}active{/if} form-container">
                            <br>
                            <div class="title">
                                {intl l="Import Metabase" d='metabase.bo.default'}
                            </div>

                            {form name="import_metabase_form"}
                                <form action="{url path="/admin/module/metabase/importbdd"}" method="post">
                                    {form_hidden_fields form=$form}

                                    {render_form_field field="success_url" value={url path='/admin/module/Metabase'}}
                                    {render_form_field field="error_url" value={url path='/admin/module/Metabase'}}

                                    {if $form_error}
                                        <div class="alert alert-danger">{$form_error_message}</div>
                                    {/if}

                                    {if $smarty.get.error|default:null}
                                        <div class="alert alert-danger">{$smarty.get.error|default:null}</div>
                                    {/if}

                                    {if $smarty.get.metabasesuccess|default:null}
                                        <div class="alert alert-success">{intl l={Metabase\Metabase::METABASE_SUCCESS_MESSAGE} d='metabase'}</div>
                                    {/if}

                                    {if $smarty.get.wait|default:null}
                                        <div class="alert alert-warning">{intl l={Metabase\Metabase::WAIT_MESSAGE} d='metabase'}</div>
                                    {/if}
                                    {if $smarty.get.ready|default:null}
                                        <div class="alert alert-info">{intl l={Metabase\Metabase::READY_MESSAGE} d='metabase'}</div>
                                    {/if}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">{intl d='metabase' l="Service generate"}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-md-6">
                                                    {render_form_field form=$form field="metabaseName"}
                                                    {render_form_field form=$form field="dbName"}
                                                    {render_form_field form=$form field="engine"}
                                                    {render_form_field form=$form field="host"}
                                                    {render_form_field form=$form field="port"}
                                                    {render_form_field form=$form field="user"}
                                                    {render_form_field form=$form field="password"}
                                                </div>
                                                <button type="submit" class="btn btn-success" >{intl l="Import BDD" d="metabase.bo.default"}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {/form}
                        </div>
                        <div id="generate" class="tab-pane {if $tab eq "generate"}active{/if} form-container">
                            <br>
                            <div class="title">
                                {intl l="Generate Metabase" d='metabase.bo.default'}
                            </div>

                            {form name="generate_metabase_form"}
                                <form action="{url path="/admin/module/metabase/check"}" method="post">
                                    {form_hidden_fields form=$form}

                                    {render_form_field field="success_url" value={url path='/admin/module/Metabase'}}
                                    {render_form_field field="error_url" value={url path='/admin/module/Metabase'}}

                                    {if $form_error}
                                        <div class="alert alert-danger">{$form_error_message}</div>
                                    {/if}

                                    {if $smarty.get.error|default:null}
                                        <div class="alert alert-danger">{$smarty.get.error|default:null}</div>
                                    {/if}

                                    {if $smarty.get.metabasesuccess|default:null}
                                        <div class="alert alert-success">{intl l={Metabase\Metabase::METABASE_SUCCESS_MESSAGE} d='metabase'}</div>
                                    {/if}

                                    {if $smarty.get.wait|default:null}
                                        <div class="alert alert-warning">{intl l={Metabase\Metabase::WAIT_MESSAGE} d='metabase'}</div>
                                    {/if}
                                    {if $smarty.get.ready|default:null}
                                        <div class="alert alert-info">{intl l={Metabase\Metabase::READY_MESSAGE} d='metabase'}</div>
                                    {/if}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">{intl d='metabase' l="Service generate Metabase"}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-md-6">
                                                    {render_form_field form=$form field="order_type"}
                                                </div>
                                                <button type="submit" class="btn btn-info" >{intl l="Check Metabase Status" d="metabase.bo.default"}</button>
                                                <a href="/admin/module/metabase/generate" class="btn btn-success {if !$smarty.get.ready|default:null}disabled{/if}">{intl l="Generate Metabase Model" d="metabase.bo.default"}</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {/form}
                        </div>

                        <div id="syncing" class="tab-pane {if $tab eq "syncing"}active{/if} form-container">
                            <br>
                            <div class="title">
                                {intl l="Syncing Metabase" d='metabase.bo.default'}
                            </div>

                            {form name="syncing_metabase_form"}
                                <form action="{url path="/admin/module/metabase/syncing"}" method="post">
                                    {form_hidden_fields form=$form}

                                    {render_form_field field="success_url" value={url path='/admin/module/Metabase'}}
                                    {render_form_field field="error_url" value={url path='/admin/module/Metabase'}}

                                    {if $form_error}
                                        <div class="alert alert-danger">{$form_error_message}</div>
                                    {/if}


                                    {if $smarty.get.syncing|default:null}
                                        <div class="alert alert-success">{intl l={Metabase\Metabase::METABASE_SYNCING_MESSAGE} d='metabase'}</div>
                                    {/if}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="panel-title">{intl d='metabase' l="Syncing parameter Metabase"}</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row" style="margin-top: 20px;">
                                                <div class="col-md-9">
                                                    {render_form_field form=$form field="syncingOption"}
                                                </div>
                                                <div class="col-md-4">
                                                    {intl d='metabase' l="Database syncing"}
                                                    {render_form_field form=$form field="syncingSchedule"}
                                                    {render_form_field form=$form field="syncingTime"}
                                                </div>
                                                <div class="col-md-4">
                                                    {intl d='metabase' l="Scanning for Filter Values"}
                                                    {intl d='metabase' l="(Select is_full_sync Option)"}

                                                    {render_form_field form=$form field="scanningSchedule"}
                                                    {render_form_field form=$form field="scanningFrame"}
                                                    {render_form_field form=$form field="scanningDay"}
                                                    {render_form_field form=$form field="scanningTime"}
                                                </div>
                                                <div class="col-md-4">
                                                    {intl d='metabase' l="Periodically refingerprint tables"}
                                                    {render_form_field form=$form field="refingerprint"}
                                                </div>
                                                <button type="submit" class="btn btn-success" >{intl l="Update Syncing Parameters" d="metabase.bo.default"}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {/form}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
