<style>
    input[type=number]
    {
        min-width:100px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="general-block-decorator">
            <div class="row">
                <div class="col-md-12">

                    <div class="title">
                        {intl l="Metabase service configuration" d='metabase'}
                    </div>
                    {form name="configure_metabase_form"}
                    {if $form_error}<div class="alert alert-danger">{$form_error_message}</div>{/if}
                        <form action="{url path="/admin/module/metabase/configure"}" method="post">
                            {form_hidden_fields form=$form}

                            {include file = "includes/inner-form-toolbar.html"
                            hide_flags = true
                            page_url   = "{url path='/admin/module/metabase'}"
                            close_url  = "{url path='/admin/modules'}"
                            }

                            {if $form_error}
                                <div class="alert alert-danger">{$form_error_message}</div>
                            {/if}

                            {if $smarty.get.success|default:null}
                                <div class="alert alert-success">{intl l={Metabase\Metabase::SUCCESS_MESSAGE} d='metabase'}</div>
                            {/if}

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">{intl d='metabase' l="Service configuration"}</div>
                                </div>
                                <div class="panel-body">
                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-md-6">
                                            {render_form_field form=$form field="metabase_url"}
                                            {render_form_field form=$form field="metabase_token"}
                                            {render_form_field form=$form field="metabase_username"}
                                            {render_form_field form=$form field="metabase_password"}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {/form}
                </div>
            </div>
        </div>
    </div>
</div>
